<div class="top-navbar">
    <div class="nav-left">
        <span class="logo">💄</span>
        <span class="system-title">Makeup Product Recommender</span>
    </div>
</div>

<div class="container">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Title -->
    <h1>Makeup Product Recommendation System</h1>

    <!-- Subtitle -->
    <h2>Sign in to explore more!</h2>

    <form method="POST">
        {% if msg %}
        <p style="color: red;">{{ msg }}</p>
        {% endif %} 
    
        <label>Username:</label><br>
        <input type="text" name="username" placeholder="Enter your email..." required><br><br>
    
        <label>Password:</label><br>
        <input type="password" name="password" placeholder="Enter your password..." required><br><br>
    
        <button type="submit" class="btn">Login</button>
    </form>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>

    <!-- Copy Rght -->
    <p style="margin-top: 40px; font-size: 0.9em; color: #888;">© Don't Be My Hero</p>
</div>
